<section class="presentacion mt-3 container">
    <div class="CajaAtista d-flex">
        <img class="imgArtista ms-5" width="225px" height="225px" [src]="imgArtista">
        <div class="textoArtista d-flex flex-column">
            <h1 class="txtAlbumes text-white ms-2 fw-bold">{{cantante}}</h1>

        </div>
    </div>



</section>


<hr role="presentation" class="LineaSeparacion">

<div div class="listaCanciones">
    <ol>

        @for (cancion of cancionesData; track cancion._id) {
            <div>{{cancion.name}}</div>
        }
    </ol>

   
    <hr role="presentation" class="LineaSeparacion">

</div>